attrs==25.2.0
exceptiongroup==1.2.2
importlib-metadata==8.6.1
iniconfig==2.0.0
mypy==1.15.0
mypy-extensions==1.0.0
networkx==3.4.2
networkx-stubs==0.0.1
numpy==2.2.3
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
py==1.11.0
pyparsing==3.2.1
pytest==8.3.5
setuptools==76.0.0
stopit==1.1.2
toml==0.10.2
tomli==2.2.1
types-pillow==10.2.0.20240822
typing-extensions==4.12.2
yapf==0.43.0
zipp==3.21.0
